body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }

  div  p {
    background-color: yellow;
  }

  a:hover{
    color: aqua;
  }
  a:active{
    background-color: red;
  }
  a:visited{
    color: purple;
  }





  P::first-letter{
    
    font-size: 200%;
  }

  .border{

    border: 20px outset red;
    width: 400px;
    margin: 15%;
    outline-style: dashed;
    outline-width: 40px;
    outline-color: brown;
   outline-style: outset;
    outline: 5px solid green;

  }

  div .raju{
    color: red;
    text-align:right;
    text-shadow: 50px 50px 2px purple;
    
  }
  a{

    text-decoration: overline underline;
  }

  span{
  
  }